{% block style %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

<style>
    
    
    
</style>

{% endblock %}

{% extends "layout.html" %}
{% block title %}Analysis{% endblock %}
{% block page %}Analysis{% endblock %}

{{ super() }}

{% block content %}

<div class="row">
    <div class="col s12 m9">
        <div class="card">
            <div class="card-image">
                <img src="{{ url_for('static', filename='images/category/video_games_popularity.png') }}">
            </div>
            <div class="card-content">
                <ol>
                    <li>Strong seasonality is evident in review volume. January shows the highest peak followed by December then September</li>
                    <li>The positive review ratios remain relatively consistent throughout the year, ranging from 0.85 to 0.88, suggesting that regardless of volume fluctuations, the overall sentiment toward video games remains fairly stable.</li>
                    <li>There's a clear pattern of higher review volumes during the holiday season when new games are typically released and purchased as gifts.</li>
                    <li>After the January peak, there's a sharp decline through February, followed by a more gradual decline through late summer, before an upward trend begins in October through December.</li>
                </ol>
            </div>
        </div>

        <!-- Insert additional main cards here -->
         
    </div>

    <!--

    <div class="col s12 m5">
        <div class="card">
            <div class="card-image">
                <img src="{{ url_for('static', filename='images/category/video_games_brand_popularity.png') }}">    
            </div>
            <div class="card-content">
                <p>This is the second card. It is placed next to the first card in a two-column layout.
                You can add any content here as needed.</p>
            </div>
        </div>

        Insert additional side cards here

    </div>
    
    -->

</div>

{% endblock %}
