{% block style %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

<style>
    
    
    
</style>

{% endblock %}

{% extends "layout.html" %}
{% block title %}Dashboard{% endblock %}
{% block page %}Dashboard{% endblock %}

{{ super() }}

{% block content %}

<div class="row">
    <div class="col s12 m7">
        <div class="card">
            <div class="card-image">
                <img src="{{ url_for('static', filename='images/sentiment/sentiment_vs_review_length.png') }}">
            </div>
            <div class="card-content">
                <p>The plot reveals that longer reviews tend to indicate a positive sentiment whereas shorter reviews indicate negative. 
                    This may be due to customers displaying excitement and encouraging others to purchase particular products.</p>
            </div>
        </div>
        
        <div class="card">
            <div class="card-image">
                <img src="{{ url_for('static', filename='images/dataset/top_10_positive_negative_words.png') }}">
            </div>
            <div class="card-content">
                <ul>
                    <li>- "Love" and "great" are the most frequent positive words, both with coefficients around 20</li>
                    <li>- "Awful," "poor," and "horrible" are the most frequent negative words with coefficients around -12</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col s12 m5">
        <div class="card">
            <div class="card-image">
                <img src="{{ url_for('static', filename='images/dataset/word_cloud.png') }}">
            </div>
            <div class="card-content">
                <ul>
                    <li>- The positive terminology "great", "love" and "good quality" suggest generally favourable reviews</li>
                    <li>- Words like "use", "used" and "work" indicate people are discussing their practical experiences with the product/service</li>
                </ul>
            </div>
        </div>

        <div class="card">
            <div class="card-image">
                <img src="{{ url_for('static', filename='images/dataset/positive_vs_negative_ratings.png') }}">
            </div>
            <div class="card-content">
                <ol>
                    <li>Positive Ratings (>3) - approximately 450,000</li>
                    <li>Negative Ratings (<3) - approximately 60,000</li>
                </ol>
                <p>
                    Positive ratings signifcantly outnumber negative ratings suggesting the products/services
                    have been favourably received by the vast majority of reviewers with only a small percentage
                    of negative assessments.
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
