<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
    </head>

    <body>
        <ul id="slide-out" class="sidenav sidenav-fixed">
            <li><div class="user-view">
                <a href="#user"><img class="circle" src="images/yuna.jpg"></a>
                <a href="#name"><span class="white-text name">John Doe</span></a>
                <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
            </div></li>
            <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
            <li><a href="#!">Second Link</a></li>
            <li><div class="divider"></div></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="#!">Trends</a></li>
            <li><a href="#!">Analysis</a></li>
            <li><a class="subheader">Subheader</a></li>
            <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
        </ul>
        <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large"><i class="material-icons">menu</i></a>

        <div class="main-content">
            <nav>
                <h3>{% block page %}{% endblock %}</h3>
            </nav>
            
            {% block content %}{% endblock %}
        </div>

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script>
            M.AutoInit();
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        M.toast({ html: '{{message}}' })
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </script>
    </body>
</html>
