{% block style %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

<style>
    
    
    
</style>

{% endblock %}

{% extends "layout.html" %}
{% block title %}Trends{% endblock %}
{% block page %}Trends{% endblock %}

{{ super() }}

{% block content %}

<div class="row">
    <div class="col s12 m6">
        <div class="card">
            <div class="card-image">
                <img src="{{ url_for('static', filename='images/category/category_popularity.png') }}">
                <span class="card-title">Card Title 1</span>
            </div>
            <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
            </div>
        </div>
    </div>
    <div class="col s12 m6">
        <div class="card">
            <div class="card-image">
                <img src="{{ url_for('static', filename='images/category/video_games_brand_popularity.png') }}">
                <span class="card-title">Card Title 2</span>
            </div>
            <div class="card-content">
                <p>This is the second card. It is placed next to the first card in a two-column layout.
                You can add any content here as needed.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
